* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}
a:hover {text-decoration: none;}
*/

header {
    background-color: #000;
    height: 70px;
}

header > nav {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    position: relative;
}

.topbar-container {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.btn-style1 {
    padding: 5px;
    background-color: #4A4A4A;
    color: #FFF;
    border-radius: 5px;
    margin-right: 5px;
}

main {
    background-color: #000;
}

main > section {
    max-width: 1200px;
    height: calc(100vh - (70px + 90px));
    margin: auto;
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
}

main > section::-webkit-scrollbar {
    width: 15px;
}
  
main > section::-webkit-scrollbar-track {
    background: #4A4A4A;
    border-radius: 10px;
}
  
main > section::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 10px;
    border: 3px solid #4A4A4A;
}

.pax-container {
    margin: 5px 10px;
}

.pax-img {
    display: block;
}

.img-container {
    position: relative;
}

.txt-container {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
}

footer {
    background-color: #222;
    height: 90px;
}

footer > nav {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tool1-container {
    width: 20%;
}

.tool2-container {
    width: 60%;
}

.tool3-container {
    width: 20%;
}

footer i {
    font-size: 36px;
}

footer p {
    font-size: 12px;
    margin-top: 5px;
}


