* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}
a:hover {text-decoration: none;}

header {
    background-color: #000;
    height: 70px;
}

header > nav {
    max-width: 1200px;
    margin: auto;
    color: #FFF;
}

.topbar-container {
    text-align: right;
}

.topbar-container > div {
    float: right;
}

main {
    background-color: #000;
}

main > section {
    max-width: 1200px;
    height: calc(100vh - (70px + 90px));
    margin: auto;
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
}

.pax-img {
    display: block;
}

.img-container {
    position: relative;
}

.txt-container {
    position: absolute;
    left: 0;
    bottom: 0;
}

footer {
    background-color: #222;
    height: 90px;
}

footer > nav {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tool1-container {
    width: 20%;
}

.tool2-container {
    width: 60%;
}

.tool3-container {
    width: 20%;
}

footer ul {
    list-style: none;
    display: flex;
}

footer ul li {
    text-align: center;
    margin: 0 10px;
}

footer a {
    color: #FFF;
    display: block;
}

footer i {
    font-size: 36px;
}

footer p {
    font-size: 12px;
    margin-top: 5px;
}


